


.custom-banner {
    height: 400px;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-headings{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 79px;

}

.custom-title{
    margin-top: 150px;
}
