.text-center {
    text-align: center;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 17vh;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    &-desktop {
        background-color: rgb(255, 255, 255);
        height: 10vh;
        width: 100%;


    }

    &-deskbox {
        width: 100%;
        height: 9vh;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        padding: 0px 60px;
        box-sizing: border-box;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &-desklogos {
        height: 61px;
        cursor: pointer;
    }

    &-desklogo {
        height: 40px;
        cursor: pointer;
    }

    &-rate {
        width: 150px;
        height: 40px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        margin-left: 40px;
        margin-top: 10px;

    }

    .textrate1 {
        font-size: 10px;
        color: #2a5e47;
        // font-family: "NanumMyeongjo-Bold";
        font-weight: 700;
    }

    .textrate2 {
        font-size: 15px;
    font-weight: 600;
    }

    &-searchbox {
        height: 45px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        width: 485px;
        padding: 10px;
        margin-top: 10px;
        justify-content: center;

        margin-right:30px;

        background-color: rgb(239, 239, 239);
    }

    &-searchbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        width: 100%;



    }

    &-inputsearch {
        border: none;
        letter-spacing: 0.3px;
        background-color: #f0f0f0;
        outline: none;
        cursor: auto;
        width: 100%;
        border-radius: 50px;
    }



    .gap{
        display: flex;
        gap: 10px;
    }




    &-digital {
     border: 1px solid #bcbcbc;
        cursor: pointer;
   border-radius: 50px;
   width: 145px;
   height: 40px;
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   margin-left: 0px;
   margin-top: 10px;

   
    }&-digitaltext{
        font-family:" NanumMyeongjo-Bold";
        font-weight: 600;
        color: #2a5e47;
        
    }&-cartimage{
        margin-left: 42px;
        margin-top: 10px;
        gap: 40px;
        display: flex;
    }





    &-categories{
        height: 30px;
        width: 100%;
        display: flex;
        gap:62px;
        padding: 0 60px;
        margin-bottom: 5px;
    }
    &-categorytext{
        font-size: 13px;
        font-weight: 500    ;
        color: #234536;
        cursor: pointer;
    }&-sell{
        display: flex;
        gap: 18px;
        margin-left: 270px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;

    }&-selltext{

        font-weight: 600;



    }&-sell{
        display: flex;
    }&-sellhead{
        display: flex;
        cursor: pointer;
        }


   

  
}

body {
    margin: 0px;
    background-color: rgb(188, 199, 208);
    overflow: hidden;
}